@page
@model WEB_153504_Pryhozhy.Areas.Admin.Pages.Pizzas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pizza</h4>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Название</th>
                <td>@Model.Pizza.Name</td>
            </tr>
            <tr>
                <th scope="row">Описание</th>
                <td>@Model.Pizza.Description</td>
            </tr>
            <tr>
                <th scope="row">Цена</th>
                <td>@Model.Pizza.Price</td>
            </tr>
            <tr>
                <th scope="row">Калории</th>
                <td>@Model.Pizza.Calories</td>
            </tr>
            <tr>
                <th scope="row">Изображение</th>
                <td>
                    <img src="@Model.Pizza.Image" />
                </td>
            </tr>
            <tr>
                <th scope="row">Категория</th>
                <td>@Model.Pizza.CategoryId</td>
            </tr>
        </tbody>
    </table>
    <form method="post">
        <input type="hidden" asp-for="Pizza.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
    <a class="btn btn-sm btn-outline-dark"
       asp-page="Index">
        <i class="fa-solid fa-arrow-left text-white"></i>
        Вернуться к списку
    </a>
</div>
