@using WEB_153504_Pryhozhy.Domain.Models
@using WEB_153504_Pryhozhy.Domain.Entities

@model ListModel<Pizza>

@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<div id="catalog-partial">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model.Items)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@item.Image" class="card-img-top pizza-img">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text text-center"><strong>@item.Price$</strong></p>
                    </div>
                    <a asp-controller="cart"
                       asp-action="Add"
                       asp-route-id="@item.Id"
                       asp-route-returnUrl="@returnUrl"
                       class="btn btn-primary text-white">
                        <i class="fa-solid fa-cart-shopping"></i>
                        В корзину
                    </a>
                </div>
            </div>
        }
    </div>
    <br />
    <nav>
        <Pager current-page="@Model.CurrentPage"
               total-pages="@Model.TotalPages"
               is-admin="false">
        </Pager>
    </nav>
</div>
